untracked/

# Locally generated, upload-ready LMS PDFs
/full-classes/hsbi-MCU-programming-10d/lms-announcements/
/full-classes/hsbi-networking-iot-10d/lms-announcements/
/full-classes/hsbi-sensors-actuators-10d/lms-announcements/
